[build-system]
build-backend = "poetry_dynamic_versioning.backend"
requires = [
  "poetry-core>=1.8,<2",
  "poetry-dynamic-versioning",
]

[tool.poetry]
name = "tap-socketdev"
version = "0.0.0"
description = "Singer tap for Socket, built with the Meltano SDK for Singer Taps."
authors = [
  "Edgar Ramírez-Mondragón <edgarrm358@gmail.com>",
]
classifiers = [
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]
keywords = [
  "ELT",
  "singer.io",
  "Socket",
]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/edgarrmondragon/tap-socketdev"
repository = "https://github.com/edgarrmondragon/tap-socketdev"
documentation = "https://github.com/edgarrmondragon/tap-socketdev#readme"

[tool.poetry.dependencies]
python = ">=3.9"
singer-sdk = "~=0.42.1"
requests = "~=2.32.0"

[tool.poetry.group.dev.dependencies]
mypy = ">=1.8.0"
pytest = "~=8.0"
singer-sdk = { version = "*", extras = [
  "testing",
] }
types-requests = "~=2.32.0"

[tool.poetry.scripts]
# CLI declaration
"tap-socketdev" = "tap_socketdev.tap:TapSocketDev.cli"

[tool.poetry-dynamic-versioning]
enable = true
format-jinja = """
    {%- if distance == 0 -%}
        {{ serialize_pep440(base, stage, revision) }}
    {%- elif revision is not none -%}
        {{ serialize_pep440(base, stage, revision + 1, dev=distance, metadata=[commit]) }}
    {%- else -%}
        {{ serialize_pep440(bump_version(base), stage, revision, dev=distance, metadata=[commit]) }}
    {%- endif -%}
"""
metadata = true
style = "pep440"
vcs = "git"

[tool.ruff]
target-version = "py39"

line-length = 88
src = [
  "tap_socketdev",
  "tests",
]
lint.select = [
  "ALL",
]
lint.ignore = [
  "ANN101", # missing-type-self
  "COM812", # missing-trailing-comma
  "DJ",     # flake8-django
  "FIX002", # line-contains-todo
  "ISC001", # single-line-implicit-string-concatenation
]
lint.per-file-ignores."noxfile.py" = [
  "ANN",
]
lint.per-file-ignores."tests/*" = [
  "ANN201", # missing-return-type-public-function
  "S101",   # assert
  "SLF001", # private-member-access
]
lint.unfixable = [
  "ERA001", # commented-out-code
]
lint.flake8-annotations.allow-star-arg-any = true
lint.isort.known-first-party = [
  "tap_socketdev",
]
lint.isort.required-imports = [
  "from __future__ import annotations",
]
lint.pydocstyle.convention = "google"

[tool.pyproject-fmt]
max_supported_python = "3.13"

[tool.pytest.ini_options]
addopts = "-vvv"

[tool.mypy]
warn_redundant_casts = true
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
  "backoff.*",
]
