name: Build

on:
  push:

permissions:
  contents: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-24.04
    outputs:
      package_version: ${{ steps.baipp.outputs.package_version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: hynek/build-and-inspect-python-package@v2
        id: baipp

  publish:
    runs-on: ubuntu-24.04
    needs: build
    environment:
      name: publishing
      url: https://pypi.org/project/tap-socketdev/${{ needs.build.outputs.package_version }}
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist
      - uses: svenstaro/upload-release-action@v2
        with:
          file: dist/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
      - uses: pypa/gh-action-pypi-publish@release/v1
